body{
    background-image: url(Fondo\ de\ cielo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.video1{
    margin-right: 35px;
    width: 350px;
    height: 250px;
    border-radius: 10px;

}

.video2{
    margin-right: 35px;

    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.video3{
    margin-right: 35px;

    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.video4{
    margin-right: 35px;

    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.video5{
    margin-right: 35px;

    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.video6{
    margin-right: 35px;

    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.video7{
    margin-right: 35px;

    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.video8{
    margin-right: 35px;

    width: 350px;
    height: 250px;
    border-radius: 10px;
}
