.cancion1{
    width:400px ;
    height: 400px;
}
.cancion2{
    width:400px ;
    height: 400px;
}
.cancion3{
    width:400px ;
    height: 400px; 
}
.cancion4{
    width:400px ;
    height: 400px; 
}

.cancion5{
    width:400px ;
    height: 400px; 
}


.cancion6{
    width:400px ;
    height: 400px; 
}

.cancion7{
    width:400px ;
    height: 400px; 
}


.cancion8{
    width:400px ;
    height: 400px; 
}


.cancion9{
    width:400px ;
    height: 400px; 
}
.cancion10{
    width:400px ;
    height: 400px; 
}